{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
  labels:
    app: prometheus
    release: {{ .Release.Name }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.prometheus.scrapeInterval }}

    scrape_configs:
      - job_name: 'fastapi'
        static_configs:
          - targets: ['{{ .Release.Name }}-fastapi:8000']
        metrics_path: '/metrics'
{{- end }}